*.pyc
*.so
*.so.*
*.o
*.d
*.log
build/lib.*
build/bdist.*
build/temp.*
build/reports/
build/doc/
build/wheel/
build/auditwheel/
*.egg-info/
__pycache__/
.pylint.d/
cache/
outputs/
*_test.py.xml
*_lib.c
.config.mk
