name: cibuild on cpu

on: [workflow_dispatch, push]

env:
  IMAGE: registry.cn-shanghai.aliyuncs.com/pai-dlc/hybridbackend:developer-tensorflow1.15-manylinux_2_24-py3.6
  JOBNAME: hbci-${{ github.run_id }}
  PODNAME: hbci-${{ github.run_id }}-chief-0
  ARROW_CACHE_URL_PREFIX: ${{ secrets.ARROW_CACHE_URL_PREFIX }}

jobs:
  build:
    runs-on: ubuntu-latest
    environment: TensorFlow 1.15
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
      with:
        submodules: 'true'
    - name: Setup Environment
      uses: aliyun/ack-set-context@v1
      with:
        access-key-id: "${{ secrets.ACCESS_KEY_ID }}"
        access-key-secret: "${{ secrets.ACCESS_KEY_SECRET }}"
        cluster-id: "${{ secrets.ACK_CLUSTER_ID }}"
    - name: Upload
      run: |-
        helm install ${JOBNAME} cibuild/ --set image=${IMAGE} --set tag=cpu-cibuild && \
        cibuild/upload ${PODNAME} ../cibuild && \
        kubectl exec -it ${PODNAME} -- arrow/download.sh ${ARROW_CACHE_URL_PREFIX}
    - name: Build
      run: |-
        kubectl exec -it ${PODNAME} -- sh -c 'make -j32 HYBRIDBACKEND_WHEEL_ALIAS=-cpu-nightly HYBRIDBACKEND_WHEEL_BUILD=rc${{ github.run_id }}'
    - name: Test
      run: |-
        kubectl exec -it ${PODNAME} -- make lint cpu_test
    - name: Cleanup Environment
      if: always()
      run: |-
        helm uninstall ${JOBNAME}
