name: Tests with TensorFlow 1.14 on CPU

on: workflow_dispatch

env:
  IMAGE: registry.cn-shanghai.aliyuncs.com/pai-dlc/hybridbackend:developer-tensorflow1.14-py3.6
  JOBNAME: hbci-tf114-cpu-${{ github.run_id }}
  PODNAME: hbci-tf114-cpu-${{ github.run_id }}-chief-0
  ARROW_CACHE_URL_PREFIX: ${{ secrets.ARROW_CACHE_URL_PREFIX }}

jobs:
  build:
    runs-on: ubuntu-latest
    environment: TensorFlow 1.14
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
      with:
        submodules: 'true'
    - name: Configure Environment
      uses: aliyun/ack-set-context@v1
      with:
        access-key-id: "${{ secrets.ACCESS_KEY_ID }}"
        access-key-secret: "${{ secrets.ACCESS_KEY_SECRET }}"
        cluster-id: "${{ secrets.ACK_CLUSTER_ID }}"
    - name: Setup Environment
      run: |-
        helm install ${JOBNAME} cibuild/ --set image=${IMAGE} --set tag=tensorflow1.14-py3.6 && \
        cibuild/upload ${PODNAME} ../cibuild && \
        kubectl exec -it ${PODNAME} -- arrow/download.sh ${ARROW_CACHE_URL_PREFIX}
    - name: Nightly Build
      if: github.event_name != 'push' || ! startsWith(github.ref, 'refs/tags')
      run: |-
        kubectl exec -it ${PODNAME} -- cibuild/patch_build -cpu-legacy -alpha
    - name: Release Build
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      run: |-
        kubectl exec -it ${PODNAME} -- cibuild/patch_build -cpu-legacy
    - name: Check
      run: |-
        kubectl exec -it ${PODNAME} -- make cpu_test && \
        kubectl exec -it ${PODNAME} -- tar -cf dist.tar dist/ && \
        kubectl cp ${PODNAME}:dist.tar ./dist.tar && \
        tar -xf ./dist.tar
    - name: Publish
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
    - name: Cleanup Emvironment
      if: always()
      run: |-
        helm uninstall ${JOBNAME}
